<ActionBar title="Camera View"></ActionBar>
<StackLayout   class="items">
    <Label text="This is a test."></Label>
    <Label text="This is a test."></Label>
	<Button (tap)="getpreviewData(camera)"  text="Take a photo"></Button>
	<Image  loadMode="async" stretch="aspectFit"></Image>
	<StackLayout (loaded)="getpreviewData($event)">
		<CameraPlus #camera debug="false" galleryPickerMode="single" showFlashIcon="true" showToggleIcon="true"
		showCaptureIcon="true" showGalleryIcon="true" confirmSaveText="CONFIRM!" confirmRetakeText="RETAKE!" (loaded)="camLoaded($event)"
		(toggleCameraEvent)="toggleCameraEvent($event)" (photoCapturedEvent)="photoCapturedEvent($event)"
		(imagesSelectedEvent)="imagesSelectedEvent($event)" >

		   <!-- OVERLAY CONTENT -->
		   <!-- <GridLayout rows="*, auto, *" columns="*, auto, *">
			   <GridLayout colSpan="3" class="bg-overlay"></GridLayout>
			   <GridLayout row="1" class="bg-overlay"></GridLayout>
			   <GridLayout row="1" col="2" class="bg-overlay"></GridLayout>
			   <GridLayout row="2" colSpan="3" class="bg-overlay"></GridLayout>
			   <Label row="1" col="1" class="overlay-label" text="📷➕"></Label>
			   <Image src="https://d2odgkulk9w7if.cloudfront.net/images/default-source/default-album/nativescript.png" row="1" col="1" stretch="aspectFill"
				   class="overlay" width="20" height="20"></Image>
			   <Image src="res://nativescript" row="1" col="1" stretch="aspectFill" class="overlay"></Image>
		   </GridLayout> -->

	   </CameraPlus>
	</StackLayout>

</StackLayout>
